<li>
  <div
    class="product"
    data-id=<%= prod.id %>
    data-name="<%= prod.name %>"
  >
    <%= prod.name %> - <%=  prod.description %>
  </div>
  <button class="btn" id="edit-product">Edit</button>
  <button class="btn" id="delete-product">Delete</button>
</li>
